
/*.block-texts {
  background-color: #f8f8f8;
  border-radius: 20px;
}*/

.flex {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
.shaker{
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}
.shaker:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
 }

@media screen and (max-width: 992px) {
  .hidden {
    display: none;
  }
  .nohidden {
    display: block;
  }
}

@media screen and (max-width: 990px) {
  .hidden {
    display: block;
  }
  .nohidden {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .hidden {
    display: block;
  }
  .nohidden {
    display: none;
  }
}
